body {
  color: #3A4145;
  font-family: 'Merriweather', serif;
}

.container {
  width: 80%;
  margin: 4rem auto;
}

nav ul {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

nav ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

p, ul {
}

a, a:visited {color: #ff9d00;}
a:focus, a:hover {color: #d88500;}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.blog-title {
  margin-bottom: 0;
}

.blog-subtitle {
  margin-bottom: 0;
}

.post {
  position: relative;
  width: 80%;
  margin: 4rem auto;
  font-size: 1.1em;
  padding-bottom: 20px;
  border-bottom: #EBF2F6 1px solid;
}

.post-title {
  font-size: 2em;
  letter-spacing: -1px;
}

.post-title a {
  color: #4A4A4A;
}

.post-title a:hover {
  color: black;
}

.keep-reading {
  text-transform: uppercase;
}
