<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "header.html" . }}

      {{ if not .Params.page }}
      <div class="row banner-hero">
        <div class="twelve columns">
          {{ $path := "general-banner.html" }}
          {{ if .Params.banner }}
            {{ $path := printf "%s-banner.html" .Params.banner }}
            {{ partial $path . }}
          {{ else }}
            {{ partial "general-banner.html" . }}
          {{ end }}          
        </div>
      </div>
      {{ end }}
      <div class="row">
        <div class="twelve columns">
          <article class="post">
              {{ if not .Params.hideTitle}}
                {{ if .Params.page }}
                <header>
                  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                </header>
                {{ else }}
                <header>
                  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                  <span class="text-light">
                    <time datetime="{{ .Date.Format "January 02, 2006" }}">{{ .Date.Format "January 02, 2006" }}</time>
                  </span>
                </header>
                {{ end }}
              {{ end }}
              <section class="post-content">{{ .Content }}</section>
          </article>
        </div>
      </div>
      <div class="row">
        {{ partial "footer.html" . }}
      </div>
      {{ if not .Params.page }}
      <div class="comments">
        {{ partial "disqus.html" . }}
      </div>
      {{ end }}
    </div>
  </body>
</html>
