<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "header.html" . }}
      <div class="row bug-hero">
        <div class="twelve columns">
          {{ partial "bug.html" . }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <article class="post">
              {{ if not .Params.page }}
              <header>
                  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                  <span class="text-light">
                    <time datetime="{{ .Date.Format "January 02, 2006" }}">{{ .Date.Format "January 02, 2006" }}</time>
                  </span>
              </header>
              {{ end }}
              <section class="post-content">{{ .Content }}</section>
          </article>
        </div>
      </div>
      <div class="row">
        {{ partial "footer.html" . }}
      </div>
      <div class="comments">
        {{ partial "disqus.html" . }}
      </div>
    </div>
  </body>
</html>
