<h2>Upcoming Talks</h2>

<p>{{ .Page.Site.Data.speaking }}</p>


<h2>Past Talks</h2>


#### Token Authentication in ASP.NET Core
[Kansas City Developer Conference](http://www.kcdc.info/) (Kansas City, MO)

Friday, June 24th, 2016 - 10:00 AM CDT

#### Designing Beautiful REST APIs with ASP.NET Core
[Music City Code](http://www.musiccitycode.com/schedule/designing-beautiful-rest-apis-with-asp-net-core) (Nashville, TN)

Friday, August 19th, 2016 - 10:00 AM CDT

## Past Talks

#### JavaScript: A Very Short Introduction
[The Road to Code](https://generalassemb.ly/education/the-road-to-code/san-francisco/24396)
Monday, May 16th, 2016 - San Francisco, CA

(slides coming soon!)
