<div class="signup-form text-center">
    <form action="https://recaffeinate.us16.list-manage.com/subscribe/post?u=993d74dbdbb4aed40e03d2561&amp;id=f628af052d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="you@example.com" aria-label="Email" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <div class="hidden" aria-hidden="true"><input type="text" name="b_993d74dbdbb4aed40e03d2561_f628af052d" tabindex="-1" value=""></div>
        <div class="clear"></div>
    </form>
</div>
