<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "header.html" . }}
      <div class="row intro-hero">
        <div class="row">
          <div class="twelve columns">
            <p class="text-center"><b>Hi, I'm Nate. I'm a developer and a Microsoft MVP who writes about .NET, JavaScript, APIs, and more.</b></p>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            {{ partial "subscribe-form.html" . }}
          </div>
        </div>
        <hr class="divider">
      </div>
      <div class="row">
        <div class="twelve columns">
          {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
          {{ range $paginator.Pages }}
              {{ if not .Params.hide }}
              <article class="post">
                  <header>
                      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                      <span class="text-light">
                        <time datetime="{{ .Date.Format "January 02, 2006" }}">{{ .Date.Format "January 02, 2006" }}</time>
                      </span>
                  </header>
                  <section class="post-content">{{ .Summary }}</section>
                  <footer>
                    <div class="text-right">
                      {{ if .Truncated }}
                      <a href="{{ .Permalink }}">{{ $.Site.Params.keepReading }}</a> ({{- partial "time-estimate.html" . -}})
                      {{ end }}
                    </div>
                  </footer>
              </article>
              <hr class="divider">
              {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="row">
        {{ partial "footer.html" . }}
      </div>
    </div>
  </body>
</html>
