
<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="container">
      <header id="site-head">
        <div class="row">
          <div class="six columns">
            {{ with .Site.Params.stylizedTitle }}
            <h1 class="blog-title"><a href="{{ $.Site.BaseURL }}">{{ . | markdownify }}</a></h1>
            {{ end }}
          </div>
          <div class="four columns">
            <nav>
              <ul>
                <li><a href="{{ "/" | absURL }}" hreflang="{{ .Site.LanguageCode }}" media="all" title="{{ .Site.Title }} - Home" type="text/html">HOME</a></li>
                {{ range $link := .Site.Params.navLinks }}
                  <li><a href="{{ $link.url }}" hreflang="{{ $.Site.LanguageCode }}" media="all" title="{{ $.Site.Title }} - {{ $link.title }}" type="text/html">{{ upper $link.title }}</a></li>
                {{ end }}
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="twelve columns">
          {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
          {{ range $paginator.Pages }}
              {{ if not .Params.hide }}
              <article class="post">
                  <header>
                      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                  </header>
                  <section class="post-excerpt">{{ .Summary }}</section>
                  <footer>
                    <div class="row">
                      <div class="seven columns">
                        posted on <time datetime="{{ .Date.Format "January 02, 2006" }}">{{ .Date.Format "January 02, 2006" }}</time> by {{ .Site.Author.name }}
                      </div>
                      <div class="five columns">
                        {{ if .Truncated }}
                        <a href="{{ .Permalink }}">{{ $.Site.Params.keepReading }}</a> ({{ trim (partial "time-estimate.html" .) "\n" }})
                        {{ end }}
                      </div>
                    </div>
                  </footer>
              </article>
              {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
